button{
    background-color: orange;
}
p{
    background-color: black;
    color: white;
}
h3{
    color: green;
}
td{
    background-color: blanchedalmond;
}
button{
    background-color: aliceblue;
}